<!DOCTYPE html>
<html>
  <head>
    <style>
      body, html {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #eceff1;
        height: 100%;
        width: 100%;
        color: #333;
      }
      table {
        border-spacing: 0;
        width: 100%;
        height: 100%;
      }
      td {
        text-align: center;
        vertical-align: middle;
      }
      .container {
        max-width: 600px;
        background-color: #ffffff;
        margin: 0 auto;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
        text-align: left;
      }
      .header {
        color: #ffffff;
        padding: 20px;
        border-radius: 8px 8px 0 0;
        text-align: center;
      }
      .logo-img {
        max-width: 250px;
      }
      .footer {
        padding-top: 20px;
        font-size: 14px;
        color: #888888;
        text-align: center;
      }
      h1 {
        color: #0056b3;
        font-size: 24px;
      }
      h2 {
        font-size: 18px;
        color: #333;
        margin-top: 10px;
      }
      p {
        font-size: 16px;
        line-height: 1.5;
        color: #666;
        margin: 10px 0;
      }
      .strong {
        color: #000;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%">
      <tr>
        <td align="center" valign="middle">
          <div class="container">
            <div class="header">
              <img src="https://smart-exam-audio.s3.amazonaws.com/stuff/logo.png" alt="Smart German Exam Logo" class="logo-img" />
              <h1>Bạn nhận được một tin nhắn mới</h1>
            </div>
            <h2>Từ E-mail: <span class="strong">{{ user_email }}</span></h2>
            <h2>Chủ đề: <span class="strong">{{ title }}</span></h2>
            <div style="margin: 20px;">
              <p>{{ message }}</p>
            </div>
            <div class="footer">
              <p>Smart German Exam Team</p>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
