<!DOCTYPE html>
<html>
  <head>
    <style>
      /* CSS styles updated for vertical and horizontal centering */
      body,
      html {
        font-family: "Arial", sans-serif;
        margin: 0;
        padding: 0;
        background-color: #ffd700; /* Outside background color */
        height: 100%; /* Full height */
        width: 100%; /* Full width */
      }
      table {
        border-spacing: 0; /* Remove cell spacing */
        width: 100%; /* Full width */
        height: 100%; /* Full height, added for vertical centering */
      }
      td {
        text-align: center; /* Center content horizontally */
        vertical-align: middle; /* Center content vertically */
      }
      .container {
        max-width: 600px; /* Content area width */
        background-color: #ffffff; /* Background color */
        margin: 0 auto; /* Horizontal centering */
        padding: 20px; /* Padding around the content */
        border-radius: 8px; /* Rounded corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Box shadow for depth */
        text-align: center; /* Center text */
      }
      .logo-img {
        max-width: 250px; /* Adjust the logo size */
        display: block;
        margin: 10px auto 20px; /* Adjusted margin to center and move closer to the h1 */
      }
      .button {
        display: inline-block;
        padding: 10px 20px;
        margin: 20px 0;
        color: #ffffff; /* Button text color */
        background-color: #ffd700; /* Button background color */
        border-radius: 5px; /* Rounded button edges */
        text-decoration: none; /* No underline */
        font-weight: bold; /* Bold text */
      }
      .footer {
        padding-top: 20px;
        font-size: 12px;
        color: #666666; /* Footer text color */
      }
      .social-icons img {
        height: 20px;
        width: 20px;
        margin: 0 5px; /* Space between icons */
      }
    </style>
  </head>
  <body>
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      height="100%"
      width="100%"
    >
      <tr>
        <td align="center" valign="middle">
          <div class="container">
            <a href="https://www.smart-german-exam.com" class="logo-link">
              <img
                src="https://smart-exam-audio.s3.amazonaws.com/stuff/logo.png"
                alt="Fashion Store Logo"
                class="logo-img"
              />
            </a>
            <h1>Chào bạn</h1>
            <p>Cảm ơn đã chọn đồng hành cùng Smart German Exam!</p>
            <p>Hãy xác thực tài khoản của bạn ở đây.</p>
            
            <a href="{{ verification_url }}" class="button" target="_blank">Xác thực Email</a>


            <div class="footer">
              <p>
                Smart German Exam là giải pháp học tập thông minh, giúp việc học
                tiếng Đức trở nên tiện lợi và hiệu quả.
              </p>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
