<!DOCTYPE html>
<html>
  <head>
    <style>
      /* CSS styles updated for vertical and horizontal centering */
      body,
      html {
        font-family: "Arial", sans-serif;
        margin: 0;
        padding: 0;
        background-color: #ffd700; /* Outside background color */
        height: 100%; /* Full height */
        width: 100%; /* Full width */
      }
      table {
        border-spacing: 0; /* Remove cell spacing */
        width: 100%; /* Full width */
        height: 100%; /* Full height, added for vertical centering */
      }
      td {
        text-align: center; /* Center content horizontally */
        vertical-align: middle; /* Center content vertically */
      }
      .container {
        max-width: 600px; /* Content area width */
        background-color: #ffffff; /* Background color */
        margin: 0 auto; /* Horizontal centering */
        padding: 20px; /* Padding around the content */
        border-radius: 8px; /* Rounded corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Box shadow for depth */
        text-align: center; /* Center text */
      }
      .logo-img {
        max-width: 250px; /* Adjust the logo size */
        display: block;
        margin: 10px auto 20px; /* Adjusted margin to center and move closer to the h1 */
      }
      .button {
        display: inline-block;
        padding: 10px 20px;
        margin: 20px 0;
        color: #ffffff; /* Button text color */
        background-color: #4CAF50; /* Change to a more 'go' color for reset */
        border-radius: 5px; /* Rounded button edges */
        text-decoration: none; /* No underline */
        font-weight: bold; /* Bold text */
      }
      .footer {
        padding-top: 20px;
        font-size: 12px;
        color: #666666; /* Footer text color */
      }
    </style>
  </head>
  <body>
    <table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%">
      <tr>
        <td align="center" valign="middle">
          <div class="container">
            <a href="https://www.smart-german-exam.com" class="logo-link">
              <img src="https://smart-exam-audio.s3.amazonaws.com/stuff/logo.png" alt="Smart German Exam Logo" class="logo-img"/>
            </a>
            <h1>Quên Mật Khẩu?</h1>
            <p>Chúng tôi nhận được một yêu cầu để đặt lại mật khẩu cho tài khoản của bạn.</p>
            <p>Nhấn vào nút bên dưới để đặt lại mật khẩu của bạn:</p>
            <a href="{{ reset_password_url }}" class="button" target="_blank">Đặt lại mật khẩu</a>
            <p>Nếu bạn không yêu cầu đặt lại mật khẩu, vui lòng bỏ qua email này.</p>
            <div class="footer">
              <p>
                Đội ngũ Smart German Exam cam kết hỗ trợ bạn học tiếng Đức một cách hiệu quả và tiện lợi.
              </p>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
